{% extends 'base.html' %}

{% block meta %}

<script>
    $(document).ready( function() {
        $.get('/wishlist/json/', function(data, status){
            let content = `
                <tr class="table-header">
                    <th  style="text-align: center ;">Nama Barang</th>
                    <th  style="text-align: center ;">Harga Barang</th>
                    <th  style="text-align: center ;">Deskripsi</th>
                </tr>
            `;
            for (let i = 0; i < data.length; i++) {
                content += `
                    <tr class="table-body">
                        <td>${data[i].fields.nama_barang}</td>
                        <td>${data[i].fields.harga_barang}</td>
                        <td>${data[i].fields.deskripsi}</td>
                    </tr>
                `;
            }
            $('.content').html(content);
        });
    })
</script>
{% endblock meta %}

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Hello, {{nama}}</a>
    <form class="form-inline">
      <button class="btn btn-danger my-2 my-sm-0" type="submit"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
    </form>
</nav>

<div  class="d-flex flex-column justify-content-center container">
    <table class="table table-bordered table-hover content"></table>
</div>

<br></br>
<h5 style="text-align:center ;">Sesi terakhir login: {{ last_login }}</h5>

<div class=" d-flex flex-wrap justify-content-center align-items-center">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="mb-4">Tambahkan Wishlist</h1>
        <div class="flex flex-col">
            <label for="nama_barang" class="mb-2 font-semibold">Nama Barang</label>
            <input type="text" name="nama_barang" id="nama_barang" placeholder="Nama Barang" class="nama-barang" required>
        </div>
        <div class="flex flex-col">
            <label for="harga_barang" class="mb-2 font-semibold">Harga Barang</label>
            <input type="text" name="harga_barang" id="harga_barang" placeholder="Harga Barang" class="harga-barang"required>
        </div>
        <div class="flex flex-col">
            <label for="deskripsi" class="mb-2 font-semibold">Deskripsi</label>
            <textarea name="deskripsi" id="deskripsi" cols="50" rows="3" placeholder="Deskripsi Barang" class="deskripsi" required></textarea>
        </div>
        <div class="flex flex-col">
            <button class="submit-button">Submit</button>
        </div>
    </form>  
</div>

<script>
    $(document).ready( function(){
        $('.submit-button').click( function(){
            let namaBarang = $('.nama-barang').val();
            let hargaBarang = $('.harga-barang').val();
            let deskripsi = $('.deskripsi').val();
            let CSRFtoken = $('input[name="csrfmiddlewaretoken"]').val();
            $.post('/wishlist/ajax/submit/', {
                nama_barang: namaBarang,
                harga_barang: hargaBarang,
                deskripsi: deskripsi,
                csrfmiddlewaretoken: CSRFtoken,
            })
        })
    })
</script>

{% endblock content %}