{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Hello, {{nama}}</a>
    <form class="form-inline">
      <button class="btn btn-danger my-2 my-sm-0" type="submit"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
    </form>
</nav>
<br></br>
<div  class="d-flex flex-column justify-content-center container">
    <table class="table table-bordered table-hover">
        <tr class="table-primary">
        <th style="text-align: center ;">Nama Barang</th>
        <th style="text-align: center ;">Harga Barang</th>
        <th style="text-align: center ;">Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga_barang}}</td>
                <td>{{barang.deskripsi}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br></br>
<h5 style="text-align:center ;">Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}